/* Shared styles */
.head {
    font-family: 'Work Sans';
    font-size: 22px;

}

.text-light-gray {
    color: #727272;
}


.section-title {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}


/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    align-items: center;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}




nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}


nav li a {

    text-decoration: none;
    color: var(--Dark-02, #424242);
    color: black;
}

/* banner-styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 4ram;
    font-weight: 700;

}


.btn-primary {

    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;

}

.banner img {
    width: 100%;
    margin-top: 30px;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {

    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {

    color: var(--Dark-03, #727272);
    font-weight: 500;
}

.teams-title .features {

    color: #FF900E;
    font-weight: 700;

}

.teams-descrioption {
    width: 537px;
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;

}

/* Features section syles */

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;

}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

.feature-img img{
    height: 92%;
    margin-left: 100px;
}

.ten-years-badge {

    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px;
    width: 220px;
    height: 100px;
    text-align: center;
    position: relative;
    bottom: 100px ;
    right:50px
}

.ten-years-badge h2{
    font-size: 3rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.2rem;
    margin: 0;
}

/* facts section */

.facts-card-container {
    display: flex;
    justify-content: space-around;


}


.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-states {

    color: var(--Dark-02, #424242);
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors tyles */
.sponsors {
    text-align: center;
}

.sponsors-image-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;


}

.sponsors-image-container img {
    width: 165px;
}

.footer-foot {
    margin: 100px 110px;

    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
}

#foot-description {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mesponsive styles for mobile devices*/
@media screen and (max-width : 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .features,
    .sponsors-image-container {
        flex-direction: column;
    }

    .feature-img img{
        width: 95%;
        margin-left: 0;
    }
.ten-years-badge{
    max-width: 20px;
    position: static;
}


    .teams-image-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* tablets or medium devices */

@media screen and (min-width : 576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .features,
    .sponsors-image-container {
        flex-direction: column;
    }
}